.header {
  display: inline-block;
  width: 100%;
  background-color: #2250B8;
  border-bottom-left-radius: 4px;
  border-bottom-right-right: 4px;
  padding: 2rem 1rem 1rem 1rem;
}

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: start;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  @media screen and (min-width: 768px) {
    justify-content: initial;
  }

  li {
    display: flex;
    align-items: center;
    padding-right: 1rem;
  }

  a, p {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.signOutBtn {
  min-width: 4rem;
  white-space: nowrap;
}