.lessonItem {
 a {
   text-decoration: none;

   &:hover {
     text-decoration: underline;
   }
 }
}

.courseFrame {
  display: flex;
  width: 100%;
  border-radius: 8px;
  flex-wrap: wrap-reverse;

  @media screen and (min-width: 1100px) {
    flex-wrap: nowrap;
  }
}